n8n/mira-whatsapp-workflow.json
{
  "name": "ClinicAI - Mira WhatsApp Assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mira-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "mira-webhook-node",
      "name": "Webhook - Receive",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "mira-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst data = body.data || body;\nconst instance = body.instance || '';\nconst event = body.event || 'messages.upsert';\n\nif (event !== 'messages.upsert') return [{ json: { skip: true, reason: 'not messages.upsert' } }];\nconst key = data.key || {};\nif (key.fromMe) return [{ json: { skip: true, reason: 'fromMe' } }];\nconst rawJid = key.remoteJid || '';\nif (rawJid.includes('@g.us') || rawJid.includes('@broadcast') || rawJid.includes('@newsletter')) {\n  return [{ json: { skip: true, reason: 'group/broadcast' } }];\n}\n\n// Phone extraction (mesma logica)\nlet phoneSource = '';\nif (rawJid.includes('@lid') && key.senderPn) phoneSource = key.senderPn;\nelse if (key.senderPn) phoneSource = key.senderPn;\nelse if (key.participantPn) phoneSource = key.participantPn;\nelse phoneSource = rawJid;\nconst phone = phoneSource.replace(/@.*/, '').replace(/\\D/g, '');\nif (!phone || phone.length < 10) return [{ json: { skip: true, reason: 'no phone' } }];\n\nconst msg = data.message || {};\n\n// Detecta audio (voice notes do WhatsApp, opus)\nconst audioMsg = msg.audioMessage || msg.ephemeralMessage?.message?.audioMessage;\nif (audioMsg) {\n  const durationS = parseInt(audioMsg.seconds || 0, 10);\n  return [{ json: {\n    skip: false,\n    type: 'audio',\n    phone,\n    instance,\n    text: '',\n    messageId: key.id || null,\n    audioMime: audioMsg.mimetype || 'audio/ogg',\n    audioDurationS: durationS\n  } }];\n}\n\n// Texto\nconst text = msg.conversation || msg.extendedTextMessage?.text || '';\nif (!text) return [{ json: { skip: true, reason: 'no text' } }];\n\nreturn [{ json: {\n  skip: false,\n  type: 'text',\n  phone,\n  instance,\n  text: text.trim().slice(0, 500),\n  messageId: key.id || null\n} }];"
      },
      "id": "mira-parse-node",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "mira-skip-if",
      "name": "Should Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "skip",
        "options": {}
      },
      "id": "mira-respond-skip",
      "name": "Respond Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oqboitkpcvuaudouwvkl.supabase.co/rest/v1/rpc/wa_pro_handle_message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": \"{{ $json.phone }}\",\n  \"p_text\": {{ JSON.stringify($json.text) }}\n}",
        "options": {}
      },
      "id": "mira-tier1-node",
      "name": "Tier 1 — Handle Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        420
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "X79lxjrmGuRpBo7r",
          "name": "Mira — Supabase Service"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "unknown-check",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "unknown",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "mira-tier2-if",
      "name": "Need Tier 2?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 512,\n  \"system\": \"Voce eh a Mira, assistente WhatsApp da clinica da Dra Mirian. Usuario eh um profissional. Escolha a tool apropriada pra responder. Se pedirem algo fora das tools, responda em texto curto educadamente que voce nao pode ajudar com isso agora.\",\n  \"tools\": [\n    {\"name\":\"get_agenda\",\"description\":\"Consulta a agenda de um dia especifico. date_offset: 0=hoje, 1=amanha, -1=ontem, etc.\",\"input_schema\":{\"type\":\"object\",\"properties\":{\"date_offset\":{\"type\":\"integer\"}},\"required\":[\"date_offset\"]}},\n    {\"name\":\"get_free_slots\",\"description\":\"Horarios livres num dia. date_offset: 0=hoje, 1=amanha.\",\"input_schema\":{\"type\":\"object\",\"properties\":{\"date_offset\":{\"type\":\"integer\"}},\"required\":[\"date_offset\"]}},\n    {\"name\":\"search_patients\",\"description\":\"Busca pacientes por nome ou telefone.\",\"input_schema\":{\"type\":\"object\",\"properties\":{\"query\":{\"type\":\"string\"}},\"required\":[\"query\"]}},\n    {\"name\":\"get_patient_balance\",\"description\":\"Saldo financeiro de um paciente.\",\"input_schema\":{\"type\":\"object\",\"properties\":{\"name\":{\"type\":\"string\"}},\"required\":[\"name\"]}},\n    {\"name\":\"get_finance_summary\",\"description\":\"Resumo de receita num periodo (hoje, semana, mes).\",\"input_schema\":{\"type\":\"object\",\"properties\":{\"period\":{\"type\":\"string\",\"enum\":[\"hoje\",\"semana\",\"mes\"]}},\"required\":[\"period\"]}},\n    {\"name\":\"get_commission\",\"description\":\"Comissao do profissional num periodo.\",\"input_schema\":{\"type\":\"object\",\"properties\":{\"period\":{\"type\":\"string\",\"enum\":[\"hoje\",\"semana\",\"mes\"]}},\"required\":[\"period\"]}},\n    {\"name\":\"list_payments\",\"description\":\"Lista pagamentos recebidos num periodo.\",\"input_schema\":{\"type\":\"object\",\"properties\":{\"period\":{\"type\":\"string\",\"enum\":[\"hoje\",\"semana\",\"mes\"]}},\"required\":[\"period\"]}},\n    {\"name\":\"get_quota\",\"description\":\"Quota de queries do profissional hoje.\",\"input_schema\":{\"type\":\"object\",\"properties\":{}}}\n  ],\n  \"messages\": [\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($('Parse Message').first().json.text) }}}\n  ]\n}",
        "options": {}
      },
      "id": "mira-claude-node",
      "name": "Tier 2 — Claude Haiku",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "m7L9XAPfYqbrnMoB",
          "name": "Mira — Claude API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parseia resposta do Claude Haiku. Se tiver tool_use block, extrai.\nconst claude = $input.first().json;\nconst content = claude.content || [];\nconst toolBlock = content.find(c => c.type === 'tool_use');\n\nif (!toolBlock) {\n  // Claude respondeu em texto (nao escolheu tool)\n  const textBlock = content.find(c => c.type === 'text');\n  const response = (textBlock && textBlock.text) || '🤔 Nao entendi e nao tenho ferramenta pra isso.';\n  return [{ json: { needsTool: false, response } }];\n}\n\nreturn [{ json: {\n  needsTool: true,\n  tool_name: toolBlock.name,\n  tool_args: toolBlock.input || {}\n} }];"
      },
      "id": "mira-parse-claude-node",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tool-check",
              "leftValue": "={{ $json.needsTool }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "mira-needs-tool-if",
      "name": "Needs Tool?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oqboitkpcvuaudouwvkl.supabase.co/rest/v1/rpc/wa_pro_execute_tool",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": \"{{ $('Parse Message').first().json.phone }}\",\n  \"p_tool_name\": \"{{ $json.tool_name }}\",\n  \"p_args\": {{ JSON.stringify($json.tool_args) }}\n}",
        "options": {}
      },
      "id": "mira-exec-tool-node",
      "name": "Execute Tool",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        220
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "X79lxjrmGuRpBo7r",
          "name": "Mira — Supabase Service"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge final: pega phone+instance do Parse + reply do Tier 1/2\nconst parsed = $('Parse Message').first().json;\nconst upstream = $input.first().json;\n\n// Se veio da execute_tool, tem .response\n// Se veio do Tier 1, tem .response\n// Se veio do claude text-only, tem .response\nconst reply = upstream.response || '⚠️ Sem resposta';\n\nreturn [{ json: { phone: parsed.phone, instance: parsed.instance, reply } }];"
      },
      "id": "mira-merge-node",
      "name": "Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://n8n_evolution-api:8080/message/sendText/{{ $json.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": {{ JSON.stringify($json.reply) }}\n}",
        "options": {}
      },
      "id": "mira-send-node",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ezmaPVK9AyfxTg4c",
          "name": "Mira — Evolution API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "mira-respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2660,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "audio-check",
              "leftValue": "={{ $json.type }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "mira-is-audio-if",
      "name": "Is Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nconst dur = parseInt(j.audioDurationS || 0, 10);\nconst MAX_S = 60;\nif (dur > MAX_S) {\n  // Flag pra skip download + transcription; process_voice vai responder \"muito longo\"\n  return [{ json: { ...j, voiceStatus: 'too_long', skipTranscribe: true } }];\n}\nreturn [{ json: { ...j, voiceStatus: 'ok', skipTranscribe: false } }];"
      },
      "id": "mira-cap-duration",
      "name": "Cap Duration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-trans",
              "leftValue": "={{ $json.skipTranscribe }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "mira-skip-trans-if",
      "name": "Skip Transcribe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://n8n_evolution-api:8080/chat/getBase64FromMediaMessage/{{ $json.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $json.messageId }}\"\n    }\n  },\n  \"convertToMp4\": false\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "mira-download-media",
      "name": "Download Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ezmaPVK9AyfxTg4c",
          "name": "Mira — Evolution API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Cap Duration').first().json;\nconst down = $input.first().json;\nconst base64 = down.base64 || down.buffer || down.data;\nif (!base64) {\n  return [{ json: { ...prev, voiceStatus: 'failed', voiceError: 'no base64', transcript: '' } }];\n}\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(base64, 'base64'),\n  'audio.ogg',\n  prev.audioMime || 'audio/ogg; codecs=opus'\n);\nreturn [{ json: { ...prev }, binary: { file: binaryData } }];"
      },
      "id": "mira-prepare-binary",
      "name": "Prepare Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "file"
            },
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "language",
              "value": "pt"
            },
            {
              "name": "response_format",
              "value": "json"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "mira-transcribe",
      "name": "Transcribe Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CebXP7V0EGP2es2f",
          "name": "Mira — Groq Whisper"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Cap Duration').first().json;\nconst groqResp = $input.first().json;\nconst transcript = (groqResp && groqResp.text) || '';\nconst costUsd = Number(((prev.audioDurationS || 0) / 3600 * 0.04).toFixed(6));\nreturn [{ json: {\n  ...prev,\n  voiceStatus: transcript.length > 0 ? 'ok' : 'empty',\n  transcript: transcript.trim(),\n  costUsd,\n  provider: 'groq',\n  model: 'whisper-large-v3-turbo'\n} }];"
      },
      "id": "mira-parse-transcript",
      "name": "Parse Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oqboitkpcvuaudouwvkl.supabase.co/rest/v1/rpc/wa_pro_process_voice",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": \"{{ $json.phone }}\",\n  \"p_transcript\": {{ JSON.stringify($json.transcript || '') }},\n  \"p_duration_s\": {{ $json.audioDurationS || 0 }},\n  \"p_message_id\": {{ JSON.stringify($json.messageId || '') }},\n  \"p_audio_mime\": {{ JSON.stringify($json.audioMime || '') }},\n  \"p_model\": \"whisper-large-v3-turbo\",\n  \"p_provider\": \"groq\",\n  \"p_cost_usd\": {{ $json.costUsd || 0 }},\n  \"p_status\": \"{{ $json.voiceStatus || 'ok' }}\",\n  \"p_error\": {{ JSON.stringify($json.voiceError || null) }}\n}",
        "options": {}
      },
      "id": "mira-process-voice",
      "name": "Process Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        80
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "X79lxjrmGuRpBo7r",
          "name": "Mira — Supabase Service"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "voice-unknown",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "unknown",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "mira-voice-tier2-if",
      "name": "Voice Need Tier 2?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2440,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const v = $input.first().json;\nconst parsed = $('Parse Message').first().json;\nreturn [{ json: {\n  ...parsed,\n  text: v.transcript || '',\n  phone: parsed.phone,\n  instance: parsed.instance,\n  intent: 'unknown'\n} }];"
      },
      "id": "mira-voice-set-text",
      "name": "Voice Set Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        0
      ]
    }
  ],
  "connections": {
    "Webhook - Receive": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Should Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Skip?": {
      "main": [
        [
          {
            "node": "Respond Skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier 1 — Handle Message": {
      "main": [
        [
          {
            "node": "Need Tier 2?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Tier 2?": {
      "main": [
        [
          {
            "node": "Tier 2 — Claude Haiku",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier 2 — Claude Haiku": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Needs Tool?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Tool?": {
      "main": [
        [
          {
            "node": "Execute Tool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Tool": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Audio?": {
      "main": [
        [
          {
            "node": "Cap Duration",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tier 1 — Handle Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cap Duration": {
      "main": [
        [
          {
            "node": "Skip Transcribe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Transcribe?": {
      "main": [
        [
          {
            "node": "Process Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Media": {
      "main": [
        [
          {
            "node": "Prepare Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Groq": {
      "main": [
        [
          {
            "node": "Parse Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Voice": {
      "main": [
        [
          {
            "node": "Voice Need Tier 2?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Binary": {
      "main": [
        [
          {
            "node": "Transcribe Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Transcript": {
      "main": [
        [
          {
            "node": "Process Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice Need Tier 2?": {
      "main": [
        [
          {
            "node": "Voice Set Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice Set Text": {
      "main": [
        [
          {
            "node": "Tier 2 — Claude Haiku",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
