n8n/mira-whatsapp-workflow.json
{
  "name": "ClinicAI - Mira WhatsApp Assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mira-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "mira-webhook-node",
      "name": "Webhook - Receive",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "mira-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse Evolution payload — extrai phone (com LID fallback) + text + filtra grupos\nconst body = $input.first().json.body || $input.first().json;\nconst data = body.data || body;\nconst instance = body.instance || '';\nconst event = body.event || 'messages.upsert';\n\nif (event !== 'messages.upsert') return [{ json: { skip: true, reason: 'not messages.upsert' } }];\n\nconst key = data.key || {};\nif (key.fromMe) return [{ json: { skip: true, reason: 'fromMe' } }];\n\nconst rawJid = key.remoteJid || '';\nif (rawJid.includes('@g.us') || rawJid.includes('@broadcast') || rawJid.includes('@newsletter')) {\n  return [{ json: { skip: true, reason: 'group/broadcast' } }];\n}\n\nconst msg = data.message || {};\nconst text = msg.conversation || msg.extendedTextMessage?.text || '';\nif (!text) return [{ json: { skip: true, reason: 'no text' } }];\n\n// Multi-device LID fallback\nlet phoneSource = '';\nif (rawJid.includes('@lid') && key.senderPn) phoneSource = key.senderPn;\nelse if (key.senderPn) phoneSource = key.senderPn;\nelse if (key.participantPn) phoneSource = key.participantPn;\nelse phoneSource = rawJid;\nconst phone = phoneSource.replace(/@.*/, '').replace(/\\D/g, '');\n\nif (!phone || phone.length < 10) {\n  return [{ json: { skip: true, reason: 'no phone resolvable' } }];\n}\n\nreturn [{ json: { skip: false, phone, text: text.trim().slice(0, 500), instance } }];"
      },
      "id": "mira-parse-node",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "mira-skip-if",
      "name": "Should Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "skip",
        "options": {}
      },
      "id": "mira-respond-skip",
      "name": "Respond Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oqboitkpcvuaudouwvkl.supabase.co/rest/v1/rpc/wa_pro_handle_message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "REDACTED_USE_N8N_CREDENTIALS" },
            { "name": "Authorization", "value": "Bearer REDACTED_USE_N8N_CREDENTIALS" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": \"{{ $json.phone }}\",\n  \"p_text\": {{ JSON.stringify($json.text) }}\n}",
        "options": {}
      },
      "id": "mira-rpc-node",
      "name": "Mira Handle Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 420]
    },
    {
      "parameters": {
        "jsCode": "// Monta payload pro sendText: phone do parse + reply do RPC\nconst rpcResult = $input.first().json;\nconst parsed = $('Parse Message').first().json;\nreturn [{ json: { phone: parsed.phone, instance: parsed.instance, reply: rpcResult.response || '⚠️ Sem resposta' } }];"
      },
      "id": "mira-merge-node",
      "name": "Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://n8n_evolution-api:8080/message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "REDACTED_EVOLUTION_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": {{ JSON.stringify($json.reply) }}\n}",
        "options": {}
      },
      "id": "mira-send-node",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 420]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "mira-respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 420]
    }
  ],
  "connections": {
    "Webhook - Receive": { "main": [[{ "node": "Parse Message", "type": "main", "index": 0 }]] },
    "Parse Message":    { "main": [[{ "node": "Should Skip?", "type": "main", "index": 0 }]] },
    "Should Skip?":     { "main": [[{ "node": "Respond Skip", "type": "main", "index": 0 }],[{ "node": "Mira Handle Message", "type": "main", "index": 0 }]] },
    "Mira Handle Message": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Merge":            { "main": [[{ "node": "Send WhatsApp", "type": "main", "index": 0 }]] },
    "Send WhatsApp":    { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
