n8n/mira-anomaly-workflow.json
{
  "name": "ClinicAI - Mira Anomaly Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 22 * * *" }
          ]
        }
      },
      "id": "anom-cron",
      "name": "Cron 10pm Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oqboitkpcvuaudouwvkl.supabase.co/rest/v1/rpc/wa_pro_active_digest_recipients",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "id": "anom-list",
      "name": "List Recipients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpCustomAuth": { "id": "X79lxjrmGuRpBo7r", "name": "Mira — Supabase Service" }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst items = Array.isArray(data) ? data : [];\nreturn items.map(r => ({ json: r }));"
      },
      "id": "anom-split",
      "name": "Split Recipients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oqboitkpcvuaudouwvkl.supabase.co/rest/v1/rpc/wa_pro_anomaly_check",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": \"{{ $json.phone }}\"\n}",
        "options": {}
      },
      "id": "anom-check",
      "name": "Check Anomaly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {
        "httpCustomAuth": { "id": "X79lxjrmGuRpBo7r", "name": "Mira — Supabase Service" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "triggered", "leftValue": "={{ $json.triggered }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "anom-if",
      "name": "Is Triggered?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const recipient = $('Split Recipients').item.json;\nconst check = $input.first().json;\nreturn [{ json: { phone: recipient.phone, instance: recipient.instance_id, message: check.message || '' } }];"
      },
      "id": "anom-merge",
      "name": "Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://n8n_evolution-api:8080/message/sendText/{{ $json.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": {{ JSON.stringify($json.message) }}\n}",
        "options": {}
      },
      "id": "anom-send",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 220],
      "credentials": {
        "httpHeaderAuth": { "id": "ezmaPVK9AyfxTg4c", "name": "Mira — Evolution API" }
      }
    }
  ],
  "connections": {
    "Cron 10pm Daily": { "main": [[{ "node": "List Recipients", "type": "main", "index": 0 }]] },
    "List Recipients": { "main": [[{ "node": "Split Recipients", "type": "main", "index": 0 }]] },
    "Split Recipients": { "main": [[{ "node": "Check Anomaly", "type": "main", "index": 0 }]] },
    "Check Anomaly": { "main": [[{ "node": "Is Triggered?", "type": "main", "index": 0 }]] },
    "Is Triggered?": { "main": [
      [{ "node": "Merge", "type": "main", "index": 0 }],
      []
    ]},
    "Merge": { "main": [[{ "node": "Send WhatsApp", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
