n8n/outbox-processor-workflow.json
{
  "name": "ClinicAI - Outbox Processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 2 }]
        }
      },
      "id": "cron-trigger",
      "name": "Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oqboitkpcvuaudouwvkl.supabase.co/rest/v1/rpc/wa_outbox_fetch_pending",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xYm9pdGtwY3Z1YXVkb3V3dmtsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NTgyMzQsImV4cCI6MjA5MDAzNDIzNH0.8d1HT8GTxIVsaTtl9eOiijDkWUVDLaTv2W4qahmI8w0" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xYm9pdGtwY3Z1YXVkb3V3dmtsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NTgyMzQsImV4cCI6MjA5MDAzNDIzNH0.8d1HT8GTxIVsaTtl9eOiijDkWUVDLaTv2W4qahmI8w0" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "p_limit", "value": "10" }
          ]
        },
        "options": {}
      },
      "id": "fetch-pending",
      "name": "Fetch Pending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Convert array to individual items for looping\nconst data = $input.first().json;\n\nif (!Array.isArray(data) || data.length === 0) {\n  return [{ json: { empty: true } }];\n}\n\nreturn data.map(item => ({ json: item }));"
      },
      "id": "split-items",
      "name": "Split Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "leftValue": "={{ $json.empty }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }],
          "combinator": "and"
        }
      },
      "id": "has-items",
      "name": "Has Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "jsCode": "// Send text or image via Evolution API\nconst item = $input.first().json;\nconst phone = item.phone;\nconst content = item.content;\nconst mediaUrl = item.media_url || null;\nconst mediaCaption = item.media_caption || null;\n\n// If has media_url, send image first, then text\nif (mediaUrl) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'http://n8n_evolution-api:8080/message/sendMedia/Mih',\n      headers: { 'apikey': '429683C4C977415CAAFCCE10F7D57E11', 'Content-Type': 'application/json' },\n      body: { number: phone, mediatype: 'image', media: mediaUrl, caption: mediaCaption || '' },\n      json: true\n    });\n  } catch(e) {}\n}\n\n// Send text\nif (content) {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://n8n_evolution-api:8080/message/sendText/Mih',\n    headers: { 'apikey': '429683C4C977415CAAFCCE10F7D57E11', 'Content-Type': 'application/json' },\n    body: { number: phone, text: content },\n    json: true\n  });\n}\n\nreturn [{ json: { sent: true, phone: phone } }];"
      },
      "id": "send-wa",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oqboitkpcvuaudouwvkl.supabase.co/rest/v1/rpc/wa_outbox_on_sent",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xYm9pdGtwY3Z1YXVkb3V3dmtsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NTgyMzQsImV4cCI6MjA5MDAzNDIzNH0.8d1HT8GTxIVsaTtl9eOiijDkWUVDLaTv2W4qahmI8w0" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xYm9pdGtwY3Z1YXVkb3V3dmtsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NTgyMzQsImV4cCI6MjA5MDAzNDIzNH0.8d1HT8GTxIVsaTtl9eOiijDkWUVDLaTv2W4qahmI8w0" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "p_outbox_id", "value": "={{ $('Split Items').item.json.id }}" }
          ]
        },
        "options": {}
      },
      "id": "mark-sent",
      "name": "Mark Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1350, 250]
    }
  ],
  "connections": {
    "Every 2 Minutes": {
      "main": [
        [{ "node": "Fetch Pending", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Pending": {
      "main": [
        [{ "node": "Split Items", "type": "main", "index": 0 }]
      ]
    },
    "Split Items": {
      "main": [
        [{ "node": "Has Items?", "type": "main", "index": 0 }]
      ]
    },
    "Has Items?": {
      "main": [
        [{ "node": "Send WhatsApp", "type": "main", "index": 0 }],
        []
      ]
    },
    "Send WhatsApp": {
      "main": [
        [{ "node": "Mark Sent", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
