n8n/receipt-webhook-workflow.json
{
  "name": "ClinicAI - Delivery & Read Receipts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receipt-webhook",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-receipt",
      "name": "Receipt Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "receipt-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse Evolution API messages.update event\n// Events arrive as: { event: 'messages.update', data: [...], instance: 'Mih' }\n// Each data item: { keyId: 'msg-id', remoteJid: '55...@s.whatsapp.net', status: 'DELIVERY_ACK' | 'READ' | 'PLAYED' }\n\nconst body = $input.first().json.body || $input.first().json;\nconst event = body.event;\n\n// Only process messages.update events\nif (event !== 'messages.update') {\n  return [{ json: { skip: true, reason: 'not messages.update', event: event } }];\n}\n\nconst updates = body.data || [];\nif (!Array.isArray(updates) || updates.length === 0) {\n  return [{ json: { skip: true, reason: 'no data' } }];\n}\n\nconst results = [];\nfor (const item of updates) {\n  // Evolution API v2 format\n  const messageId = item.keyId || (item.key && item.key.id) || null;\n  const status = (item.status || '').toUpperCase();\n  \n  if (!messageId) continue;\n  \n  // Map Evolution API status to action\n  // DELIVERY_ACK = delivered to device\n  // READ = user opened the chat\n  // PLAYED = user played audio/video\n  let action = null;\n  if (status === 'DELIVERY_ACK' || status === 'DELIVERED' || status === 'SERVER_ACK') {\n    action = 'delivered';\n  } else if (status === 'READ' || status === 'PLAYED') {\n    action = 'read';\n  }\n  \n  if (action) {\n    results.push({ json: { wa_message_id: messageId, action: action, raw_status: status } });\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { skip: true, reason: 'no actionable updates' } }];\n}\n\nreturn results;"
      },
      "id": "parse-receipt",
      "name": "Parse Receipt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-action",
      "name": "Has Action?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.action }}",
              "rightValue": "read",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-read",
      "name": "Is Read?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oqboitkpcvuaudouwvkl.supabase.co/rest/v1/rpc/wa_outbox_on_read",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xYm9pdGtwY3Z1YXVkb3V3dmtsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NTgyMzQsImV4cCI6MjA5MDAzNDIzNH0.8d1HT8GTxIVsaTtl9eOiijDkWUVDLaTv2W4qahmI8w0" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xYm9pdGtwY3Z1YXVkb3V3dmtsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NTgyMzQsImV4cCI6MjA5MDAzNDIzNH0.8d1HT8GTxIVsaTtl9eOiijDkWUVDLaTv2W4qahmI8w0" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "p_wa_message_id", "value": "={{ $json.wa_message_id }}" }
          ]
        },
        "options": {}
      },
      "id": "mark-read",
      "name": "Mark Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oqboitkpcvuaudouwvkl.supabase.co/rest/v1/rpc/wa_outbox_on_delivered",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xYm9pdGtwY3Z1YXVkb3V3dmtsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NTgyMzQsImV4cCI6MjA5MDAzNDIzNH0.8d1HT8GTxIVsaTtl9eOiijDkWUVDLaTv2W4qahmI8w0" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xYm9pdGtwY3Z1YXVkb3V3dmtsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NTgyMzQsImV4cCI6MjA5MDAzNDIzNH0.8d1HT8GTxIVsaTtl9eOiijDkWUVDLaTv2W4qahmI8w0" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "p_wa_message_id", "value": "={{ $json.wa_message_id }}" }
          ]
        },
        "options": {}
      },
      "id": "mark-delivered",
      "name": "Mark Delivered",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1130, 400]
    }
  ],
  "connections": {
    "Receipt Webhook": {
      "main": [
        [{ "node": "Parse Receipt", "type": "main", "index": 0 }]
      ]
    },
    "Parse Receipt": {
      "main": [
        [{ "node": "Has Action?", "type": "main", "index": 0 }]
      ]
    },
    "Has Action?": {
      "main": [
        [{ "node": "Is Read?", "type": "main", "index": 0 }],
        []
      ]
    },
    "Is Read?": {
      "main": [
        [{ "node": "Mark Read", "type": "main", "index": 0 }],
        [{ "node": "Mark Delivered", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
